.wrapper_blog {
    background-color: $darkblue;

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #4D4D4D;
        letter-spacing: 0.7px;
    }

    .lang,
    .lang_menu {
        background-color: #18284A;
    }
}

.section_header_blog {
    height: 250px;
    margin-top: -100px;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    padding-top: 100px;
    padding-left: 235px;
    background: #213663;
    /* Old browsers */
    background: -moz-linear-gradient(top, #213663 0%, #14213d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #213663 0%, #14213d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #213663 0%, #14213d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#213663', endColorstr='#14213d', GradientType=0);

    /* IE6-9 */
    .project_header_content p {
        color: #fff;
        z-index: 100;
    }
}

.blog_wrapper {
    padding: 0 100px 140px 120px;

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }
}
.blogpost_wrapper {
    padding: 120px 100px 140px 120px;
    h1 {
        text-align: left;
         text-align: left;
        line-height: 58px;
        text-transform: capitalize;
    }
    h2 {
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 25px 0 30px;
    }
    h3 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 20px 0 40px;
    }
}
.blog_header {
    width: 940px;
    height: 145px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 40px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    p {
        font-size: 11px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin-top: 20px;
    }
}

.blog_tab_period,
.blog_tab_time {
    background: #EDEDED;
    border-radius: 40px;
    padding: 10px;
    width: 380px;
    height: 60px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);

    .blog_tab_item_active {
        border-radius: 30px;
        color: #fff;
        background-color: $darkblue;
    }
}

.blog_tab_time {
    width: 260px;
}
.blog_swither, .blog_search_hint {
        display: none;
    }
.blog_tab_item {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: $darkblue;
    text-decoration: none;
}

.blog_search {
     font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 240px;
    height: 60px;
    margin-top: 55px;
    color: $darkblue;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    padding: 0 10px 0 85px;
    outline: 0;
    background-image: url(../img/ico/search.svg);
    background-position: left 50px center;
    transition: 200ms;
    background-repeat: no-repeat;
}
::-webkit-input-placeholder {color:$darkblue;}
::-moz-placeholder          {color:$darkblue;}/* Firefox 19+ */
:-moz-placeholder           {color:$darkblue;}/* Firefox 18- */
:-ms-input-placeholder      {color:$darkblue;}

.blog_search:focus {
    padding: 0 10px 0 45px;
    background-position: left 15px center;
}

.blog_content {
    margin-bottom: 80px;
    padding-top: 20px;
    h4 {
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 5px;
    }
}
.blog_number {
    margin-top: 0;
}
.blog_list {
    margin-top: 55px;
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(flex-start);
    flex-wrap: wrap;
}

.blog_item {
    width: 220px;
    height: 250px;
    margin: 0 20px 20px 0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    background-color: #F0F0F0;
    text-decoration: none;

    .img_wrapper {
        width: 100%;
        height: 160px;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        overflow: hidden;

        img {
            height: 100%;
        }
    }
}

.blog_item_content {
    padding: 10px 15px;
}

.date {
    font-family: 'Raleway', sans-serif;
    font-size: 12px!important;
    font-style: italic;
    color: #666666;
}

.blog_title {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 20px;
    margin: 0;
}

.blogpost_header {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin-bottom: 50px;
}

.blogpost_header_img_wrapper {
    width: 460px;
    height: 340px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    overflow: hidden;

    img {
        height: 100%;
    }
}

.blogpost_header_content {
    width: 460px;
    padding-top: 50px;
    padding-left: 60px;

}

.blogpost_header_info {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
}

.views {
    padding-left: 35px;
    margin-left: 40px;
    background: url(../img/ico/view.svg) center left no-repeat;
}

.blogpost_text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;

    p:nth-child(1) {
        margin-top: 0;
    }

    p {
        margin: 23px 0;
    }
    a {
        display: block;
        font-weight: 600;
        font-style: italic;
        color: #2078B2;
        text-decoration: none;
    }
}

.empty {
    height: 100px;
}

.blogpost_imgs {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
}
.blogpost_img_wrapper_half {
    margin: 60px 0;
    width: 460px;
    overflow: hidden;
}
.blogpost_img_wrapper {
    margin: 60px 0;
    overflow: hidden;
}